/* ======================================
Global Config
========================================= */

// Font Stacks

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic');

$font-family--primary   : 'Open Sans', sans-serif;

// Font Weights

$font-weight--light       : 300;
$font-weight--normal      : 400;
$font-weight--semi-bold   : 600;
$font-weight--bold        : 700;

// Discriptive Base Colors

$white   : rgba(255, 255, 255, .76);
$black   : #000;
$gorse   : rgba(242, 205, 94, .8);
$bunker  : #101921;


// Functional Colors

$color-primary   : $white;
$color-secondary : $gorse;
$color-background: $bunker;

// Text

$base__font-size   : 1rem;
$base__line        : 1.6;

// Breakpoints

$breakpoint--tablet    : 690px;
$breakpoint--desktop   : 1024px;
