* {
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   min-height: 100vh;
   background-color: #0D121A;
   font-family: $font-family--primary;
   font-size: $base__font-size;
   font-weight: $font-weight--light;
   line-height: $base__line;
   color: $color-primary;

   @include mq(tablet) {
      align-items: center;
   }
}

.container::before {
   content: "";
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #0D121A url("../images/background.gif") no-repeat;
   background-size: auto 550px;
   background-position: center top;
   @include mq(tablet) {
      background-size: auto 100%;
   }
   @include mq(desktop) {
      background-size: cover;
   }
   z-index: -1000;
   -webkit-overflow-scrolling : touch !important;
   overflow: auto !important;
   height: 100% !important;
   margin: 0;
}

h1, h2, h3 {
   margin: 0;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: $color-secondary;
   text-decoration: none;

   &:hover {
      color: rgba(242, 205, 94, 1);
   }
}

strong {
   color: rgba(255, 255, 255, .8);
}

.ink {
   display: block;
   position: absolute;
   background: rgba(255, 255, 255, .8);
   border-radius: 100%;
   transform: scale(0);
}

.ink.animate {animation: ripple 0.6s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}
