.cv {

   &__item {
      margin-bottom: .7rem;
      position: relative;

      // css hardware acceleration
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }

   &__link {
      display: inline-block;
      width: 100%;
      font-size: rem(30px);
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
      color: rgba(255, 255, 255, .8);
      transition: transform .5s ease;
      position: relative;

      &:hover {
         color: $color-primary;
         transform: translateX(15px);
      }

      &--email {
         @extend .cv__link;
         & + p {
            margin: 0;
            font-size: .9rem;
            font-style: italic;
            font-weight: 300;
            opacity: 0;
            transition: opacity .3s, transform .5s ease;
            height: 0;
         }

         &:hover {
            color: rgba(242, 205, 94, .8);

            & + p {
               opacity: 1;
               transform: translateX(15px);
            }
         }
      }
   }
}
